<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" 
    ><i class="fas fa-business-time"></i> Company of Employees</a>
    <a href="/create/">Create a User</a>
    <a href="/show">Employee List</a>
    <a href="/company/show">Company List</a>
    <a href="/company/display">Filter Company</a>
    
  </div>
</nav>
</div>